section {
	visibility: hidden;
}

#player_wrapper {
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
	width: 880px;
	height: 480px;
	display: flex;
}

.DefaultWidth {
	margin-right: auto;
	margin-left: auto;
	width: 880px;
}


#playerarea {
	display: inline;
	width: 640px;
	background-color: #F2F2F0;
}

#side{
	display: inline;
	width: 240px;
	background: #F4F3DE;
	z-index: 100;
}


#submit_wrapper {
	display: flex;
}


#bullet_submit {
	margin-right: auto;
	margin-left: auto;
	width: 640px;
}

#bullet_submit button {
	z-index: 0;
}

#chat_submit {
	margin-right: auto;
	margin-left: auto;
	width: 240px;
}

#chat_submit button {
	z-index: 0;
}

#videos_from_server {
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 880px;
}

#app_bar_manu {
	right: 0;
	position: fixed;
}

#app_bar {
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 299;
}

#chat_area { 
	font: 13px Helvetica, Arial; 
	margin: 0; 
 	padding: 0; 
 	box-sizing: border-box;
 	overflow: scroll;
 	height: 480px;
}

#messages li:nth-child(odd) { 
	background: #BEAE92; 
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}

#messages li { 
	padding: 5px 10px; 
}

.VideoName {
	padding: 10px;
}

.VideoName:hover {
	padding: 10px;
	cursor: pointer;
	background: #2CA4BF;
}
