
section {
	margin-top: 60px;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	display: flex;
}

.Width800 {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}

#playerarea {
	display: inline;
	width: 640px;
	background-color: #F2F2F0;
}

#side{
	display: inline;
	width: 160px;
	background-color: #F2F2F0;
}

#videos_from_server {
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}

#bullet_submit {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}

#bullet_submit button {
	z-index: 0;
}

/*top: 5px;*/
.bulletdiv {
	color: white;
    width: 100px;
    height: 50px;
    font-weight: bold;
    position: absolute;
    z-index: 5;
	top: 5px;
	left: 800px;
    -webkit-transition: all 5s linear;
	-moz-transition: all 5s linear;
	-ms-transition: all 5s linear;
	-o-transition: all 5s linear;
	transition: all 5s linear;

}


.bulletdiv.move
{
	left: 0px;
}

/*don't delete this empty css class!!!!*/
.bulletdiv.suspend
{
	
}
