#playerarea
{
  height: 480px;
  width: 640px;
  position: relative;
}

#video-control-panel
{
  position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
  height: 100%;
  max-height: 60px;
  padding: 4px;
	opacity: 1;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2147483647;
}

#playerarea:hover #video-control-panel {
	opacity: .9;
}

.control-panel-button
{
  margin:5px;
  background: rgba(0,0,0,0);
  border: 0;
  padding: 5px;
}

.control-panel-button:hover
{
  cursor: pointer;
}

.control-panel-button:focus
{
  outline:none;
}
video::-webkit-media-controls {
  display:none !important;
}

video:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
#video-control-panel-btnplaypause
{
  background: url("../src/play.png")  no-repeat;
  background-position: center;
  background-size: 80% 80%;
  height: 25px;
  width: 25px;
  border-right: 10px;
}

#video-control-panel-barvol
{
  width: 0;
  display: inline;
  visibility: hidden;
  -webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}

#video-control-panel-barseekbar
{
	width: 100%;
}
#video-control-panel-btnfullscreen
{
  float: right;
  background: url("../src/fullscreen.png")  no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 20px;
  width: 20px;
}
#video-control-panel-btnvolumncontrol
{
  background: url("../src/nomute.png")  no-repeat;
  background-position: center;
  background-size: 80% 80%;
  height: 20px;
  width: 20px;
}

input[type=range].video-control-panel-bar {
  -webkit-appearance: none;
  width: 100%;
  margin: 9.1px 0;
}
input[type=range].video-control-panel-bar:focus {
  outline: none;
}
input[type=range].video-control-panel-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 3.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
  border: 0px solid #000101;
}
input[type=range].video-control-panel-bar::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.65), 0px 0px 0px rgba(13, 13, 13, 0.65);
  border: 1px solid #000000;
  height: 22px;
  width: 8px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.1px;
}
input[type=range].video-control-panel-bar:focus::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0);
}
input[type=range].video-control-panel-bar::-moz-range-track {
  width: 100%;
  height: 3.8px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: rgba(0, 0, 0, 0);
  border-radius: 0px;
  border: 0px solid #000101;
}
input[type=range].video-control-panel-bar::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.65), 0px 0px 0px rgba(13, 13, 13, 0.65);
  border: 1px solid #000000;
  height: 22px;
  width: 8px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].video-control-panel-bar::-ms-track {
  width: 100%;
  height: 3.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].video-control-panel-bar::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
  border: 0px solid #000101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].video-control-panel-bar::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
  border: 0px solid #000101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].video-control-panel-bar::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.65), 0px 0px 0px rgba(13, 13, 13, 0.65);
  border: 1px solid #000000;
  height: 22px;
  width: 8px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  height: 3.8px;
}
input[type=range].video-control-panel-bar:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0);
}
input[type=range].video-control-panel-bar:focus::-ms-fill-upper {
  background: rgba(0, 0, 0, 0);
}
