#playerarea
{
  height: 480px;
  width: 640px;
  position: relative;
}

#video-control-panel
{
  position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-o-transition: opacity .3s;
	-ms-transition: opacity .3s;
	transition: opacity .3s;
  background: rgba(0, 0, 0, 0.5)
}

#playerarea:hover #video-control-panel {
	opacity: .9;
}

button {
	background: rgba(0,0,0,0);
	border: 0;
	color: #EEE;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}


button:hover {
	cursor: pointer;
}

#video-control-panel-btnplaypause
{
  background: url("../src/play.png")  no-repeat;
  background-position: center;
  background-size: 80% 80%;
  height: 20px;
  width: 20px;
}

#video-control-panel-barvol
{
  width: 0;
  display: inline;
  visibility: hidden;
  -webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
	transition: all 1s;
}

#video-control-panel-btnplaypause:focus
{
  outline: none;
}
#video-control-panel-barseekbar
{
	width: 100%;
}

#video-control-panel-btnfullscreen
{
  float:right;
}
